.movie-list {
    /* structure */
    padding-left: 0;

    /* presentation */
    list-style-type: none;
}

.movie-list li {
    /* structure */
    display: inline-block;
    width: 24.5%;

    /* presentation */
    text-align: center;
}

.movie-list li p {
    font-size: 0.75em;
}
