body {
    background: 95% 90% no-repeat url(https://audreyhossepian.fr/img/logo.png),
    center / cover url(../../../public/img/bg.jpg);
}


.list li a {
    background-color: #411e0b;
    border: 10px groove #e8cc6b;
    padding: 50px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
